/* All html are targeted by this code*/
body {
  background-color: #F5F5DC;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}


h1 {
  text-align: center;
  font-size: 40px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  color:#C37b0f;
}

a {
  margin: 10px;
  color: black;
}

.img {
  height: auto;
  width: 300px;
}

.par {
  color: #C37b0f;
}

li {
  margin: 10px;
}

.par-chsck {
  width: 1000px;
  line-height: 1.6;
}

.par-carbo, .par-taco {
  width: 600px;
  line-height: 1.6;
}

.index-html {
  border-color: black;
  border-left-style: dotted;
  border-left-width: 10px;
  border-top: solid 2px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  box-sizing: border-box;
  margin: auto;
  height: 560px;
  width: 500px;
  border-radius: 50px;
  margin-top: 100px;
  box-shadow: 5px 10px 18px #888888;
}

.header-1 {
  box-sizing: border-box;
}

.car-recipe,
.tac-recipe,
.bas-recipe {
  font-family: monospace, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

